body {
    margin: 30px auto;
    width: 80%;
}
nav ul {
    border-bottom: 1px solid #d5d5d5;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto
}
.graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}
.logreg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:90%;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.0em;
}
h4 {
    font-size: 1em;
    font-weight: 100;
}
p {
    font-size: 1em;
    font-weight:bold;
}