<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="https://github.com/kenko1290/kenko1290.github.io">GitHub Repo</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ken.ko1290@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kenko1290">github.com/kenko1290</a></li>
				</ul>
			</footer>
		</body>
	</html>
